<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.c_design.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.example.c_design.domain.Goods">
    <id column="g_id" jdbcType="BIGINT" property="gId" />
    <result column="g_name" jdbcType="VARCHAR" property="gName" />
    <result column="g_price" jdbcType="INTEGER" property="gPrice" />
    <result column="g_picture" jdbcType="VARCHAR" property="gPicture" />
    <result column="g_number" jdbcType="INTEGER" property="gNumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    g_id, g_name, g_price, g_picture, g_number
  </sql>
  <select id="selectByExample" parameterType="com.example.c_design.domain.GoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where g_id = #{gId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from goods
    where g_id = #{gId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.c_design.domain.GoodsExample">
    delete from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.c_design.domain.Goods">
    insert into goods (g_id, g_name, g_price, 
      g_picture, g_number)
    values (#{gId,jdbcType=BIGINT}, #{gName,jdbcType=VARCHAR}, #{gPrice,jdbcType=INTEGER}, 
      #{gPicture,jdbcType=VARCHAR}, #{gNumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.c_design.domain.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gId != null">
        g_id,
      </if>
      <if test="gName != null">
        g_name,
      </if>
      <if test="gPrice != null">
        g_price,
      </if>
      <if test="gPicture != null">
        g_picture,
      </if>
      <if test="gNumber != null">
        g_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gId != null">
        #{gId,jdbcType=BIGINT},
      </if>
      <if test="gName != null">
        #{gName,jdbcType=VARCHAR},
      </if>
      <if test="gPrice != null">
        #{gPrice,jdbcType=INTEGER},
      </if>
      <if test="gPicture != null">
        #{gPicture,jdbcType=VARCHAR},
      </if>
      <if test="gNumber != null">
        #{gNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.c_design.domain.GoodsExample" resultType="java.lang.Long">
    select count(*) from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goods
    <set>
      <if test="record.gId != null">
        g_id = #{record.gId,jdbcType=BIGINT},
      </if>
      <if test="record.gName != null">
        g_name = #{record.gName,jdbcType=VARCHAR},
      </if>
      <if test="record.gPrice != null">
        g_price = #{record.gPrice,jdbcType=INTEGER},
      </if>
      <if test="record.gPicture != null">
        g_picture = #{record.gPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.gNumber != null">
        g_number = #{record.gNumber,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goods
    set g_id = #{record.gId,jdbcType=BIGINT},
      g_name = #{record.gName,jdbcType=VARCHAR},
      g_price = #{record.gPrice,jdbcType=INTEGER},
      g_picture = #{record.gPicture,jdbcType=VARCHAR},
      g_number = #{record.gNumber,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.c_design.domain.Goods">
    update goods
    <set>
      <if test="gName != null">
        g_name = #{gName,jdbcType=VARCHAR},
      </if>
      <if test="gPrice != null">
        g_price = #{gPrice,jdbcType=INTEGER},
      </if>
      <if test="gPicture != null">
        g_picture = #{gPicture,jdbcType=VARCHAR},
      </if>
      <if test="gNumber != null">
        g_number = #{gNumber,jdbcType=INTEGER},
      </if>
    </set>
    where g_id = #{gId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.c_design.domain.Goods">
    update goods
    set g_name = #{gName,jdbcType=VARCHAR},
      g_price = #{gPrice,jdbcType=INTEGER},
      g_picture = #{gPicture,jdbcType=VARCHAR},
      g_number = #{gNumber,jdbcType=INTEGER}
    where g_id = #{gId,jdbcType=BIGINT}
  </update>
</mapper>